
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    Lỗi quyền truy cập
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-danger ">
        Bạn không có quyền truy cập trang user này.
    </div>
</div>


