@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!--Slider-->
<section class="hero hero-home no-padding">
    <div class="owl-carousel owl-theme hero-slider">
        <div style="background: url(../Contents/Images/hero-bg-3.jpg);" class="item d-flex align-items-center has-pattern">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 style="color: white">Modern</h1>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: url(../Contents/Images/van2.jpg);" class="item d-flex align-items-center">
            @*<div class="container">
                <div class="row">
                    <div class="col-lg-6 text-white">
                        <h1 style="color: hotpink;">StreetStyle</h1>
                    </div>
                </div>
            </div>*@
        </div>
        <div style="background: url(../Contents/Images/van1.jpg);" class="item d-flex align-items-center">
            @*<div class="container">
                <div class="row">
                    <div class="col-lg-6 text-white">
                        <h1 style="color: hotpink;">For Life</h1>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>
<!-- Partial List New Product-->
@Html.Action("Partial_ListNewProducts","Product")
<!--modal dialog-->

<!--List Hot Product-->
@Html.Action("Partial_ListHotProducts","Product")